html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 80% 20%;
}

section {
    border: solid white 2px;
}

#title {
    grid-row: 1;
    grid-column: 1 / span 2;
    background-color: rgb(245, 227, 67);
}

#contents { 
    grid-row: 2;
    grid-column: 1;
    background-color: rgb(245, 227, 67);
}

#controls {
    grid-row: 2;
    grid-column: 2;
    background-color: rgb(245, 227, 67);
}
